[submodule "vendors/llama.cpp"]
	path = vendors/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "vendors/stable-diffusion.cpp"]
	path = vendors/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp.git
[submodule "vendors/Hunyuan3D-2"]
	path = vendors/Hunyuan3D-2
	url = https://github.com/Tencent/Hunyuan3D-2.git
[submodule "vendors/Hunyuan3D-Part"]
	path = vendors/Hunyuan3D-Part
	url = https://github.com/Tencent-Hunyuan/Hunyuan3D-Part.git
